header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    max-height: 100px;
}

.logo {
    width: 60vw;
}

.logo img {
    max-width: 200px;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 37vw;
    justify-content: space-around;
    
}

.spacer {
    display: block;
    height: 120px;
}

.product-criteria {
    display: flex;
    flex-direction: column;
    position: re
}

h1 {
    text-align: center;
}

.product-criteria {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

