header {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 195px;
    background-color: white;
    background-image: url("drone2.jpg");
}

.logo {
    width: 60vw;
}

.logo img {
    max-width: 200px;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 38vw;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.spacer {
    display: block;
    height: 195px;
}

.spacer2 {
    display: block;
    height: 20px;
}

h1 {
    text-align: center;
}

.product-criteria {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#product-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#product {
    width: 30%;
    height: 620px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.product-top {
    width: 100%;
}

#product-title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
}
.product-top img{
    width: 100%;
}

