header {
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 195px;
    background-color: white;
    background-image: url("drone2.jpg");
}

.logo {
    width: 60vw;
}

.logo img {
    max-width: 200px;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 38vw;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.spacer {
    display: block;
    height: 195px;
}

.spacer2 {
    display: block;
    height: 20px;
}

h1 {
    text-align: center;
}

.product-criteria {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#products {
    display: flex;
    flex-direction: row;
}


